<nav class="navbar navbar-expand-sm navbar-light bg-butano">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/Taller">DeivisGarage</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="/RegistrarCoche">Nuevo coche</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Reparaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/PerfilUsuario">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Quemar taller</a>
        </li>
      </ul>
    </div>
  </nav>